<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
  
    <title>Admin Page</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-sm custom-navbar navbar-dark">
        <a class="navbar-brand" href="#">Welcome Admin</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <!-- <li class="nav-item" id="part">
                <a href="{% url 'partname' %}" class="nav-link">Part Number</a>
            </li> -->
            <li  class="nav-item" id="data">
              <a href="{% url 'data_screen' %}" class="nav-link"> QR Code Data </a>
          </li>
          </ul>
          
        
          <form class="form-inline my-2 my-lg-0">
            <div class="live-clock"  style="margin-right: 15px;">        
                <span id="date">DD/MM/YYYY</span>
                <span id="clock">00:00:00</span>
            </div>
            <a class="btn btn-outline-success my-2 my-sm-0" href="{% url 'logout' %}" style="margin-left: 15px;">Logout</a>
        </form>
        </div>
    </nav>
   
    <script>
      document.addEventListener('DOMContentLoaded', function() {
          // Get the current URL path
          var currentUrl = window.location.pathname;
  
          // Define the mapping between URL paths and menu IDs
          var menuMapping = {
              '/partname/': 'part',
              '/data_screen/':'data',
            //   '/modelcode/': 'model',
            //   '/checkpoints/': 'check',
            //   '/employee_master/': 'emp_master',
              // Add mappings for other menu items
          };
  
          // Find the corresponding menu item and mark it as active
          var menuItemId = menuMapping[currentUrl];
          if (menuItemId) {
              var menuItem = document.getElementById(menuItemId);
              if (menuItem) {
                  menuItem.classList.add('active');
              }
          }
      });

      function updateClock() {
        const clock = document.getElementById("clock");
        const date = document.getElementById("date");
        const now = new Date();

        const hours = now.getHours().toString().padStart(2, '0');
        const minutes = now.getMinutes().toString().padStart(2, '0');
        const seconds = now.getSeconds().toString().padStart(2, '0');
        clock.textContent = `${hours}:${minutes}:${seconds}`; 

        const year = now.getFullYear();
        const month = (now.getMonth() + 1).toString().padStart(2, '0');
        const day = now.getDate().toString().padStart(2, '0');
        date.textContent = `${day}/${month}/${year}`;

    }

    setInterval(updateClock, 1000); // Update the clock every second
    updateClock(); // Initial call to display the time immediately
    
        function toggleSidebar() {
            var sidebar = document.getElementById("sidebar");
            if (sidebar.style.display === "none" || sidebar.style.display === "") {
                sidebar.style.display = "block";
            } else {
                sidebar.style.display = "none";
            }
        }



  </script>
  </body>
</html>