<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="LMApp" path="\*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Users\Win\AppData\Local\Programs\Python\Python39\python.exe|D:\RPA\Laser Marking\RPA_working\RPA\Leser_marking\manage.py fcgi --pythonpath" resourceType="Unspecified" />
        </handlers>
    </system.webServer>
</configuration>
